// Colors
$color-primary-300: #f1f8ff;
$color-primary-400: #e8f3fc;
$color-primary-500: #227afe;

$color-secondary-500: #ffb820;

$color-green-300: #bffbd2;
$color-green-400: #8af1a4;
$color-green-500: #0aba76;

$color-error: #f71a48;
$color-success: $color-green-500;

$color-text-header: #162231;
$color-text-body: #2c3641;

$color-category-science: $color-green-500;
$color-category-technology: $color-primary-500;
$color-category-business: $color-secondary-500;

$color-muted-100: #d9e1ec;
$color-muted-200: #96adce;
$color-muted-300: #859bb9;
$color-muted-400: #5b6d87;
$color-muted-500: #425368;

$color-surface-300: #f5f8fc;
$color-surface-400: #f1f4f9;
$color-surface-500: #d2d7df;
$color-surface-600: #b7bec8;

// Styles
$radius: 6px;
$radius-sm: 3px;

// Transitions
$transition-enter: all 0.1s;
$transition-exit: all 0.08s;

@font-face {
  font-family: 'Gilroy';
  font-weight: normal;
  src: url(../../assets/fonts/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
  font-family: 'GilroySemibold';
  font-weight: bold;
  src: url(../../assets/fonts/Gilroy/Gilroy-Semibold.ttf);
}

@font-face {
  font-family: 'GilroyBold';
  font-weight: bolder;
  src: url(../../assets/fonts/Gilroy/Gilroy-Bold.ttf);
}

@mixin disableSelect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:export {
  color_primary_300: $color-primary-300;
  color_primary_400: $color-primary-400;
  color_primary_500: $color-primary-500;

  color_secondary_500: $color-secondary-500;

  color_green_300: $color-green-300;
  color_green_400: $color-green-400;
  color_green_500: $color-green-500;

  color_surface_300: $color-surface-300;
  color_surface_400: $color-surface-400;
  color_surface_500: $color-surface-500;
  color_surface_600: $color-surface-600;

  color_error: $color-error;
  color_success: $color-success;
  color_text_header: $color-text-header;
  color_text_body: $color-text-body;

  color_muted_100: $color-muted-100;
  color_muted_200: $color-muted-200;
  color_muted_300: $color-muted-300;
  color_muted_400: $color-muted-400;
  color_muted_500: $color-muted-500;

  color_category_science: $color-category-science;
  color_category_technology: $color-category-technology;
  color_category_business: $color-category-business;

  radius: $radius;
  radius_sm: $radius-sm;

  transition_enter: $transition-enter;
  transition_exit: $transition-exit;
}
