// Colors
$color-primary-300: rgb(238, 245, 253);
$color-primary-400: #e8f3fc;
$color-primary-500: #227afe;

$color-secondary-500: #ff7c3f;

$color-text: #162231;

$color-muted-200: #96adce;
$color-muted-300: #859bb9;
$color-muted-400: #71849f;
$color-muted-500: #425368;

$color-surface-400: #f1f4f9;
$color-surface-500: #d2d7df;

$radius: 6px;
$radius-sm: 3px;

$transition-enter: all 0.15s;
$transition-exit: all 0.1s;

@font-face {
  font-family: 'Gilroy';
  font-weight: normal;
  src: url(../../assets/fonts/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
  font-family: 'GilroySemibold';
  font-weight: bold;
  src: url(../../assets/fonts/Gilroy/Gilroy-Semibold.ttf);
}

@font-face {
  font-family: 'GilroyBold';
  font-weight: bolder;
  src: url(../../assets/fonts/Gilroy/Gilroy-Bold.ttf);
}

:export {
  color_primary_300: $color-primary-300;
  color_primary_400: $color-primary-400;
  color_primary_500: $color-primary-500;

  color_secondary_500: $color-secondary-500;

  color_surface_400: $color-surface-400;
  color_surface_500: $color-surface-500;

  color_text: $color-text;

  color_muted_200: $color-muted-200;
  color_muted_300: $color-muted-300;
  color_muted_400: $color-muted-400;
  color_muted_500: $color-muted-500;

  transition_enter: $transition-enter;
  transition_exit: $transition-exit;

  radius: $radius;
}
