@import './variables';
@import './mixins';

::selection {
  background-color: $color-primary-400;
}

h1 {
  font-family: 'GilroySemibold';
  letter-spacing: -0.6px;
}

h2,
h3 {
  margin-top: 0;
  font-family: 'GilroySemibold';
  font-size: 1.35rem;
  letter-spacing: -0.3px;
  line-height: 2rem;
  color: $color-text-header;
  @include transition-exit();
}

h4 {
  margin-top: 0;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 2rem;
}

p {
  font-family: 'Roboto';
  color: $color-text-body;
  margin: 0;
  font-size: 1.1rem;
  line-height: 2rem;
}

a {
  color: $color-primary-500;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  width: 55%;
  min-height: 120vh;
  margin-bottom: 100px;
}

.header {
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer {
  margin-top: 100px;

  p {
    font-size: 1rem;
  }
}

.feed {
  margin-top: 15px;
}

.logo {
  cursor: pointer;
  font-family: 'GilroySemibold';
  font-size: 2rem;
  letter-spacing: -0.7px;
  color: $color-text-header;
}

.highlight {
  font-family: 'GilroyBold';
  font-style: normal;
  color: $color-primary-500;
}

.highlight-2 {
  font-family: 'Roboto';
  font-style: bold;
  color: $color-muted-300;
}

.search-container {
  h1 {
    font-family: 'GilroySemibold';
    margin-top: 0;
  }
}

.question {
  h1 {
    margin-top: 0;
  }
  margin-bottom: 50px;
}

.question-title {
  color: $color-text-header;
  margin-bottom: 8px;
}

.question-body {
  p {
    margin: 0;
    margin-top: 25px;
  }
}

.topic-feed {
  h1 {
    margin-top: 0;
  }

  .highlight {
    font-family: 'Gilroy-Semibold';
  }
}
.floating-ask {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 40px;
  border-radius: 50px;
  @include transition-exit;

  p {
    font-size: 1.1rem;
    letter-spacing: -0.25px;
    font-family: 'GilroyBold';
    color: $color-primary-500;
  }

  .MuiSvgIcon-root {
    color: white;
    width: 30px;
    height: 30px;
    transform: rotate(-17deg) translateX(3px) translateY(-1px);
  }

  button {
    &:hover {
      background-color: $color-primary-500;
      transform: scale(1.05);
      @include transition-enter;
    }
    padding: 20px;
    backdrop-filter: blur(10px);
    background-color: $color-primary-500;
    @include transition-exit;
  }
}

.question-topic {
  display: inline-block;
  border-radius: $radius;
  margin-bottom: 17px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    cursor: pointer;
    margin-left: -8px;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 5px;
    border-radius: $radius;
    line-height: 1rem;
    font-family: 'Gilroy-Semibold';
    font-size: 1rem;
    @include transition-exit;

    span {
      color: $color-muted-300;
    }

    &:hover {
      &::after {
        background-color: none;
      }
      @include transition-enter;

      a {
        color: $color-muted-500;
      }
      background-color: white;
      box-shadow: 0px 4px 7px $color-surface-500;
    }

    &:last-child {
      span {
        color: $color-primary-500;
      }

      &::after {
        content: '';
        margin-right: 0;
        margin: 0;
      }
    }

    &::after {
      content: '>';
      color: $color-muted-200;
      margin-right: 5px;
      margin-left: 12px;
    }
  }
}

.answers {
  margin-top: 50px;
}

.answer-container {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid transparent;
  border-radius: $radius;

  h3 {
    color: $color-primary-500;
    margin: 0;
  }
  .answer-body {
    p {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}

.author-asker {
  position: relative;
  display: inline-block;
  background-color: transparent;
  border: 0px solid $color-surface-400;
  border-radius: $radius;
}

.author-answerer {
  position: relative;
  display: inline-block;
  background-color: transparent;
  border: 0px solid $color-surface-400;
  border-radius: $radius;
}

// Author
.author {
  min-width: 131px;

  .timestamp {
    p {
      margin: 0;
      font-size: 0.8rem;
      font-weight: 500;
      color: $color-muted-400;
    }
  }

  // IDEA: - Maybe use to better visually-differentiate statuses?
  // see AuthorComponent.tsx
  .basic {
    border-color: $color-primary-500;
    p {
      color: $color-primary-500;
    }
  }

  .intermediate {
    border-color: rgba(31, 237, 227, 0.25);

    p {
      color: #03af98;
    }
  }

  .expert {
    border-color: $color-primary-400;

    p {
      color: $color-primary-500;
    }
  }
}

.author-username {
  cursor: pointer;

  p {
    margin: 0;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }
}

.author-status {
  display: inline-block;
  margin: 0;
  padding-top: 3px;
  line-height: 1;
  font-family: 'GilroyBold';
  letter-spacing: 0.9px;
  font-size: 0.85rem;
  font-weight: bold;
  color: $color-primary-500;
  text-transform: uppercase;
  background-color: transparent;
  // border: 1.8px solid $color-primary-500;
  border-radius: $radius-sm * 1000;
}

.author-avatar {
  $size: 41px;

  cursor: pointer;
  border-radius: $radius * 1000;
  width: $size;
  height: $size;
  text-align: center;
  line-height: $size * 1.1;
  font-family: 'GilroySemibold';
  font-size: $size * 0.6;
  color: white;
}

.profile-container {
  h1 {
    font-family: 'Roboto';
    font-size: 2.5rem;
    margin: 0;
  }
  h2 {
    font-size: 2rem;
    margin: 0;
  }
  input {
    height: 12px;
  }
}

.profile-avatar {
  $size: 160px;

  border-radius: $radius * 2000.5;
  width: $size;
  height: $size;
  text-align: center;
  line-height: $size * 1.1;
  font-family: 'GilroySemibold';
  font-size: $size * 0.6;
  color: white;
}

.karma-container {
  font-size: 1.2rem;
  font-weight: bold;
  color: $color-text-body;

  .karma-upvote {
    &:hover {
      background-color: transparent;
      color: $color-primary-500;
      transition: $transition-enter;
    }
    &:active {
      color: $color-primary-500;
    }

    color: $color-surface-500;
    width: 50px;
    height: 50px;
    transition: $transition-exit;
  }

  .karma-downvote {
    &:hover {
      background-color: transparent;
      color: $color-text-body;
      transition: $transition-enter;
    }
    &:active {
      color: $color-primary-500;
    }

    color: $color-surface-500;
    width: 50px;
    height: 50px;
    transition: $transition-exit;
  }
}

.search-bar {
  width: 40%;
  background-color: white;
  @include transition-enter();

  .MuiOutlinedInput-root {
    border-radius: $radius;
  }

  .MuiSvgIcon-root {
    font-size: 1.3rem;
  }

  button {
    &:hover {
      background-color: transparent;
      color: $color-primary-500;
    }
    color: $color-muted-500;
  }

  input {
    &::placeholder {
      color: $color-text-body;
    }

    font-family: 'Roboto', sans-serif;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: 500;
    font-size: 1rem;
    color: $color-text-body;
  }
}

.ask-container {
  h1 {
    margin: 0;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1.3rem;
    color: $color-muted-500;
    margin-bottom: 15px;
  }
  p {
    font-family: 'Roboto';
    margin: 0;
    margin-top: 10px;
  }
}

.search-icon {
  color: $color-muted-400;
}

.search-scope-container {
  overflow: hidden;
  padding-right: 6px;
  padding-top: 7px;
}

.search-query-highlight {
  font-family: 'GilroyBold';
  font-style: italic;
  color: $color-primary-500;
}

.feed-result {
  &:hover {
    h2 {
      color: $color-primary-500;
      @include transition-enter();
    }
    background-color: white;
    border-color: $color-primary-500;
    @include transition-enter();
  }

  .feed-result-body {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.625;
    color: $color-muted-500;
  }

  .feed-more-answers {
    font-family: 'GilroySemibold';
    color: $color-primary-500;
    font-size: 0.9rem;
  }

  h2 {
    font-family: 'GilroySemibold';
    font-size: 1.35rem;
    color: $color-text-header;
  }

  font-family: 'Roboto';
  line-height: 1.625;
  font-size: 1.1rem;
  color: $color-text-body;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 17px;
  padding-bottom: 17px;
  border: 1px solid $color-surface-500;
  background-color: white;
  border-radius: $radius;
  @include transition-exit();
}

.search-hit-title {
  color: $color-primary-500;
  font-family: 'GilroyBold';
}

.search-hit-body {
  color: $color-primary-500;
  font-weight: bold;
  font-style: italic;
}

.no-results {
  display: block;
  padding-top: 20px;

  img {
    width: 200px;
  }
}

.button-primary {
  &:hover {
    background-color: $color-primary-400;
    color: $color-primary-500;
    @include transition-enter;
  }
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  color: $color-primary-500;
  font-family: 'GilroySemibold';
  letter-spacing: -0.3px;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: $radius;
  border: 1.3px solid $color-primary-400;
  @include transition-exit;
}

.wobble {
  animation: wobble 17s infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.22, 0 0.28, 1);
}

@keyframes wobble {
  0% {
    transform: perspective(300px) rotate(-0deg) translateX(0px) translateY(0px);
  }
  25% {
    transform: perspective(300px) rotate(12deg) translateX(-55px)
      translateY(-25px) translateZ(-15px);
  }
  50% {
    transform: perspective(200px) rotate(-5deg) translateX(5px) translateY(20px)
      translateZ(10px);
  }
  75% {
    transform: perspective(300px) rotate(15deg) translateX(-15px)
      translateY(20px) translateZ(-20px);
  }
  100% {
    transform: perspective(1000px) rotate(-3deg) translateX(55px)
      translateY(-10px);
  }
}

.hide-on-mobile {
  display: block;
}

.hide-on-desktop {
  display: none;
}

.spelling-suggestions {
  h4 {
    display: inline-block;
    margin-right: 5px;
  }

  ul:hover {
    li::after {
      color: $color-muted-200;
    }
    li {
      color: $color-muted-200;
    }
  }

  ul li:hover {
    color: $color-primary-500;
    @include transition-enter();
  }

  a:hover {
    text-decoration: underline;
  }
  ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
  }

  li {
    &::after {
      content: ', ';
      color: $color-text-body;
      font-family: 'Roboto';
      font-weight: normal;
    }
    &:last-child::after {
      content: '';
    }

    color: $color-primary-500;
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
    padding-right: 6px;
    display: inline-block;
    @include transition-exit();
  }
}

@media only screen and (max-width: 600px) {
  .floating-ask {
    right: 25px;
    bottom: 40px;

    .MuiSvgIcon-root {
      width: 35px;
      height: 35px;
    }

    button {
      padding: 25px;
    }

    p {
      display: none;
    }
  }

  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .hide-on-mobile {
    display: none;
  }

  .hide-on-desktop {
    display: block;
  }

  .wrapper {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .search-bar {
    width: 100%;

    .MuiSvgIcon-root {
      font-size: 1.9rem;
    }

    input {
      font-size: 1.3rem;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 19px;
      padding-right: 19px;
    }
  }

  .MuiChip-label {
    font-size: 1.2rem;
  }

  .MuiChip-root * {
    padding: 20px;
  }

  .no-results {
    margin: 0 auto;

    img {
      width: 240px;
    }
  }

  .logo {
    font-size: 2.3rem;
  }

  .question-topic {
    font-size: 1rem;
  }

  .author {
    .author-avatar {
      $size: 47px;

      width: $size;
      height: $size;
      text-align: center;
      line-height: $size * 1.1;
      font-family: 'GilroySemibold';
      font-size: $size * 0.6;
      color: white;
    }

    .timestamp {
      p {
        font-size: 0.9rem;
      }
    }

    .author-username {
      margin-bottom: 0px;
      p {
        font-size: 1rem;
      }
    }
  }
}
